<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header class="header">

        <div class="logo">
            <img src="media/logo2.png" alt="Logo Coffee">
        </div>

        <nav class="menu">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">Blog</a>
            <a href="#">Media</a>
            <a href="#">Contact</a>
        </nav>

        <div class="search-box">
            <input type="text" class="search-text" placeholder="Pesquisar...">
            <a class="search-btn">
                <img class="loope-brown" src="media/lupa.png" alt="">
                <img class="loope-white" src="media/lupa2.png" alt="">
            </a>
        </div>

    </header>

    <section class="banner">
        <img src="media/coffee-4618705_1280.jpg" alt="Banner Coffee">

        <div class="banner-text">
            <p>Freshly Roasted</p>
            <h1>COFFEE</h1>
            <button>Shop Now</button>
        </div>
    </section>

    <section class="top-categories">
        <h2>TOP CATEGORIES</h2>
        <p>Explore The Recent Most Bought Drinks This Week</p>

        <div class="categories-container">

            <div class="card">
                <img src="media/hot-2562022_960_720.jpg">
                <h3>Hot Chocolate</h3>
            </div>

            <div class="card">
                <img src="media/beverage-1869598_960_720.jpg">
                <h3>Espresso Coffee</h3>
            </div>

            <div class="card">
                <img src="media/coffee-9817668_960_720.jpg">
                <h3>Mocha Coffee</h3>
            </div>

            <div class="card">
                <img src="media/coffee-5495609_1280.jpg">
                <h3>Cafè Latte</h3>
            </div>

        </div>
    </section>

    <footer>
        <div class="footer-container">

            <div class="footer-column">
                <h4>Products</h4>
                <p>Mocha Coffee</p>
                <p>Espresso Coffee</p>
                <p>Cafè Latte</p>
            </div>

            <div class="footer-column">
                <h4>Category</h4>
                <p>Coffee</p>
                <p>Pastries</p>
                <p>Desserts</p>
                <p>Shop</p>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>Support</p>
            </div>

            <div class="footer-column">
                <h4>Follow Us</h4>
                <a href="https://github.com/psantiago20"><p>Github</p></a>
                <p>Facebook</p>
                <p>YouTube</p>
            </div>

        </div>
    </footer>

</body>
</html>
